@model Dev_1400.Models.Post

@{
    ViewBag.Title = "Details";
}

<div class="divide20"></div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="container">

                @if (Model.MediaUrl != null)
                {
                    <center><img src="@Url.Content(Model.MediaUrl)" class="thumbnail" alt="Cinque Terre" width="500" height="500" /></center>
                }
                <h1 class="fontsize">
                    @Html.DisplayFor(model => model.Title)
                </h1>
                <p class="page-header no-margin"><em>~ by A Yang | Created: @Html.DisplayFor(model => model.CreationDate) ~</em></p>

                <br />
                <p>@Html.Raw(Model.BodyText)</p>

            </div>

            @*<br />
                <div class="container">

                    @Html.ActionLink("Add Comment", "Create", "Comments", new { id = Model.Id }, new { @class = "btn btn-default"})

                </div>*@

            <br />

            <section class="col-md-8">
                <h2 class="section-title">Comments</h2>
                <ul class="list-unstyled">
                    @foreach (var c in Model.Comments)
                    {
                        if (!c.MarkForDeletion)
                        {
                            <li class="comment">
                                <div class="panel panel-primary-dark">
                                    <div class="panel-body">
                                        <img src="~/assets/img/anonymous.png" alt="" class="thumbnail alignleft" width="65" height="65">
                                        <p>@Html.Raw(c.Body)</p>
                                    </div>
                                    <div class="panel-footer">
                                        <div class="row">
                                            <div class="col-lg-10 col-md-9 col-sm-8">
                                                <i class="fa fa-user"> </i> @c.Author.UserName
                                                <i class="fa fa-clock-o"></i> @c.Created.ToLocalTime().ToString("F")
                                            </div>
                                            @if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
                                            {
                                                <div class="col-lg-2 col-md-3 col-sm-4">

                                                    @Html.ActionLink("Delete", "Delete", "Comments", new { id = @c.Id, postId = @Model.Id }, new { @class = "btn btn-danger" })

                                                </div>
                                            }
                                            @*<div class="col-lg-2 col-md-3 col-sm-4 pull-right">

                                                    @Html.ActionLink("Reply", "Create", "Comments", new { id = @c.PostId}, new { @class = "btn btn-default" })
                                                </div>*@
                                        </div>
                                    </div>
                                </div>
                            </li>
                        }
                    }


                </ul>
            </section> <!-- comments -->


        </div> <!--end col-md-12-->
        <div class="row">
            <div class="col-xs-12 col-md-6">
                @*@Html.Partial("_Comment", new Dev_1400.Models.Comment { @PostId = Model.Id })*@
            </div>
        </div>
    </div><!--end row-->

</div><!--end container-->