@model Dev_1400.Models.Post

@{
    ViewBag.Title = "Details";
}

@section scripts{
    <script type="text/javascript">
        tinymce.init({
            selector: 'textarea',
            theme: 'modern',
            width: 943,
            height: 300
        });
    </script>
}

<div class="divide20"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="blog-post">
                @if (Model.MediaUrl != null)
                {
                    <center>
                        <img src="@Url.Content(Model.MediaUrl)" class="img-responsive" alt="workimg" />
                    </center>
                }
                <ul class="list-inline post-detail">
                    <li>by A Yang</li>
                    <li>
                        <i class="fa fa-calendar"></i> @Model.CreationDate.ToLocalTime().ToString("D")
                    </li>
                </ul>
                <h2>@Html.DisplayFor(model => model.Title)</h2>

                <p class="lead">
                    @Html.Raw(Model.BodyText)
                </p>

            </div><!--blog post-->
            @*<div class="about-author">
                    <h4 class="colored-text">About the Author</h4>
                    <img src="img/team-3.jpg" class="img-responsive" alt="">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, <span class="colored-text">adipiscing condimentum tristique</span> vel, eleifend sed turpis. Pellentesque cursus arcu id magna euismod in elementum purus molestie Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis. Pellentesque cursus arcu id magna euismod in elementum purus molestie
                    </p>
                </div>*@<!--about author-->
            <div class="comment-post">
                <h3>@Model.Comments.Count() Comments</h3>
                @foreach (var c in Model.Comments)
                {
                    <div class="row">
                        <div class="col-md-12">
                            <div class="comment-list">
                                <h4>
                                    <img src="~/assets/img/anonymous.png" class="img-responsive" alt="">
                                    by @c.Author.UserName
                                    @*<a href="#" class="btn btn-xs btn-theme-dark">Reply</a>*@
                                </h4>
                                @if (User.IsInRole("Admin"))
                                {
                                    using (Html.BeginForm("Delete", "Comments", new { id = @c.Id, postId = @Model.Id }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <input type="button" class="btn btn-xs btn-danger" value="Delete" data-toggle="modal" data-target="#@c.AuthorId" />
                                             <!-- Modal -->
                                            <div class="modal fade" id="@c.AuthorId" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                                <div class="modal-dialog modal-sm" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                            <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            Are you sure you want to delete?
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                            <input type="submit" value="Delete" class="btn btn-danger" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    }
                                }
                                <p>
                                    @Html.Raw(c.BodyText)
                                </p>
                            </div><!--comments list-->
                        </div>
                        @*<div class="col-md-10 col-md-offset-1">
                                <div class="comment-list">
                                    <h4>
                                        <img src="img/team-3.jpg" class="img-responsive" alt="">
                                        by User <a href="#" class="btn btn-xs btn-theme-dark">Reply</a>
                                    </h4>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis. Pellentesque cursus arcu id magna euismod in elementum purus molestie
                                    </p>
                                </div>
                            </div>*@

                    </div>
                }
            </div><!--comments-->

            <div class="divide60"></div>
            <div class="comment-form">
                <h3>Leave Comment</h3>
                <div class="form-contact">
                    @Html.Partial("_Comment", new Dev_1400.Models.Comment { @PostId = Model.Id })
                </div>
            </div>
        </div><!--col-->
    </div><!--row for blog post-->
</div><!--blog full main container-->