@model PagedList.IPagedList<Dev_1400.Models.Post>

@using PagedList.Mvc;

@{
    ViewBag.Title = "Blog - Posts";

}

<div class="breadcrumb-wrap">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h4>Blog</h4>
            </div>
            <div class="col-sm-6 hidden-xs text-right">
                <ol class="breadcrumb">
                    <li>
                        <a href="@Url.Action("Index", "Home")">Home</a>
                    </li>
                    <li>Blog</li>
                </ol>
            </div>
        </div>
    </div>
</div><!--breadcrumbs-->
<div class="divide40"></div>

@if (User.IsInRole("Admin"))
{
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <p>
                    @Html.ActionLink("Create New", "Create")
                </p>
            </div>

        </div>
    </div>
}
<div class="container">
    <div class="row">
        <div class="col-md-5 col-md-offset-4">
            @using (Html.BeginForm("Posts", "Posts", FormMethod.Get))
            {
                <div class="input-group">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Action <span class="caret"></span></button>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <li>@Html.ActionLink("All Blog Post", "Posts")</li>
                            <li>@Html.ActionLink("Asc Order", "Posts", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })</li>
                        </ul>
                    </div><!-- /btn-group -->
                   @Html.TextBox("searchString", ViewBag.CurrentFilter as string, new { @class = "form-control", placeholder = "Search for..." })
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit"><i class="fa fa-search fa-fw"></i> Search</button>
                    </span>
                    
                </div>
            }
        </div>
       
    </div>
</div>


<div class="divide40"></div>
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">

            @if (Model.PageCount == 0)
            {
                <p class="h2">No Results found!</p>
            }
            @foreach (var post in Model)
            {
                <div class="blog-post">
                    <a href="@Url.Action("Details", "Posts", new { @post.Id })">
                        <div class="item-img-wrap">
                            @if (post.MediaUrl != null)
                            {
                                <img src="@Url.Content(post.MediaUrl)" class="img-responsive" alt="@post.Title" />
                            }
                            <div class="item-img-overlay">
                                <span></span>
                            </div>
                        </div>
                    </a><!--work link-->
                    <ul class="list-inline post-detail">
                        <li>
                            by
                            <a href="#">A Yang</a>
                        </li>
                        <li>
                            <i class="fa fa-calendar"></i> @post.CreationDate.ToLocalTime().ToString("D")
                        </li>
                        @if (post.UpdateDate != null)
                        {
                            <li>
                                <i class="fa fa-tag"></i>
                                <span>Update: </span> @post.UpdateDate.ToString()
                            </li>
                        }

                        <li>
                            <i class="fa fa-comment"></i>
                            <span>@post.Comments.Count Comments</span>
                        </li>
                    </ul>
                    <h2>
                        @Html.ActionLink(post.Title, "Details", new { @post.Id })
                    </h2>
                    <p>
                        @Html.Raw(post.BodyTextTrimmed)
                    </p>
                    <p>
                        <a href="@Url.Action("Details", "Posts", new {@post.Id })" class="btn btn-theme-dark">Read More...</a>
                    </p>
                    @if (User.IsInRole("Admin"))
                    {
                        <p>
                            @Html.ActionLink("Edit", "Edit", new { @post.Id }, new { @class = "btn btn-success" })
                        </p>
                        <p>
                            @Html.ActionLink("Delete Post", "Delete", new { @post.Id }, new { @class = "btn btn-danger" })
                        </p>

                    }
                </div><!--blog post-->
            }
            <div class="container">
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

                @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
            </div>
        </div><!--col-->
    </div><!--row for blog post-->
</div><!--blog full main container-->
